/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: chunkfive, slab;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.mat-form-field {
  width: 100%;
}

mat-cell {
  a {
    text-decoration: none;
    color: inherit;
  }
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
