<mat-sidenav-container>
  <mat-sidenav
    opened
    #sidenav
    role="navigation"
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <a *ngFor="let item of navItems" mat-list-item [routerLink]="[item.link]">
        <mat-icon class="icon">{{ item.icon }}</mat-icon>
        <span class="label">{{item.text}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button (click)="sidenav.toggle()" mat-icon-button >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a id="header-title">Acute Blog </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngFor="let item of navItems" >
            <a [routerLink]="[item.link]">
              <mat-icon class="icon">{{ item.icon }}</mat-icon>
              <span class="label">{{item.text}}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
