@font-face {
  font-family: 'chunkfive';
  src: url('/assets/fonts/ChunkFive-Regular.woff2') format('woff2'),
  url('/assets/fonts/ChunkFive-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
